<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Getting started: Serving Web Content</title>
</head>
<body>
<p th:text="'This is, ' + ${name} + '- the best car!'" />
<p>Mercedes-AMG G 63 (2020) BRABUS 800 - Wild G Wagon from Brabus</p>
<img th:src="@{https://i.ytimg.com/vi/pMqsupoVe_0/maxresdefault.jpg}" width="600" height="600" />
</body>
</html>